name: flutter_use
description: A new Flutter application.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.3
  # getx 状态管理框架 https://pub.flutter-io.cn/packages/get
  get: ^3.24.0
  # 常用弹窗 https://pub.dev/packages/flutter_picker
  flutter_picker: ^1.1.5 #时间滚轮选择器
  # 解耦框架 https://pub.dev/packages/flutter_bloc
  flutter_bloc: ^6.1.1 #状态管理框架
  equatable: ^1.2.3 #增强对比
  # https://pub.dev/packages/flutter_hooks
  flutter_hooks: ^0.14.1 #分离状态逻辑和视图逻辑
  # 图片选择器 https://pub.dev/packages/multi_image_picker
  image_picker: ^0.6.7+4
  multi_image_picker: ^4.7.14
  # 预览图片 https://github.com/fireslime/photo_view
  photo_view: ^0.10.3
  # 路由管理 https://pub.dev/packages/fluro
  fluro: ^1.7.8 #路由管理框架
  # 界面适配 https://pub.dev/packages/flutter_screenutil
  flutter_screenutil: ^3.2.0
  # 取消输入框焦点 https://pub.dev/packages/focus_widget/install
  focus_widget: ^1.0.2+2
  # iOS数字键盘添加收起按钮 https://pub.dev/packages/keyboard_actions
  keyboard_actions: ^3.3.0
  # https://pub.flutter-io.cn/packages/logger
  logger: ^0.9.4
  # 弹窗控件 https://github.com/CNAD666/flutter_smart_dialog
  flutter_smart_dialog: ^1.2.1
#  flutter_smart_dialog:
#    git:
#      url: git://github.com/CNAD666/flutter_smart_dialog.git
#  flutter_smart_dialog:
#    path: F:\GitHub\flutter_smart_dialog

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
